@model CoronaWedding.Models.Account

@{
    ViewData["Title"] = "Checkout";
}

<div class="title">
    <img src="/Media/images/checkoutLogo.PNG" alt="title" class="img">
</div>
<h4>Purchase summary:</h4>
<hr />


<h5>Location</h5>
<h5>Catering</h5>
<h5>Music</h5>
<h5>Photographer</h5>
<h5>Total price</h5>

<aside>
    <h4>Epcot Center</h4>
    <p>Epcot is a theme park at It is 
    a long established fact that a reader 
    will be distracted by the readable content 
    of a page when looking at its layout. 
    The point of using Lorem Ipsum is that it
    has a more-or-less normal distribution of 
    letters, as opposed to using 'Content here, content here',
    making it look like readable English. Many desktop publishing 
    packages and web page editors now use Lorem Ipsum as their default model 
    text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
    Various versions have evolved over the years, sometimes by accident, sometimes on purpose 
    (injected humour and the like). Walt reworks and seasonal special events.</p>
</aside>


<iframe width="560" height="315" src="https://www.youtube.com/embed/CQq51HfgxAA" 
 frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
  encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>

