@model CoronaWedding.Models.Music

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Music</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="musicType" class="control-label"></label>
                <input asp-for="musicType" class="form-control" />
                <span asp-validation-for="musicType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="supplierEmail" class="control-label"></label>
                <input asp-for="supplierEmail" class="form-control" />
                <span asp-validation-for="supplierEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagePath" class="control-label"></label>
                <input asp-for="imagePath" class="form-control" />
                <span asp-validation-for="imagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
