@model CoronaWedding.Models.Music

@{
    ViewData["Title"] = "Edit";
}

<div class="titleEdit">
    <img src="/Media/images/editItemLogo.PNG" alt="title" class="img">
</div>
<h4>Music</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MusicId" />
            <div class="form-group">
                <label asp-for="musicType" class="control-label"></label>
                <input asp-for="musicType" class="form-control" />
                <span asp-validation-for="musicType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="supplireEmail" class="control-label"></label>
                <input asp-for="supplireEmail" class="form-control" />
                <span asp-validation-for="supplireEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagePath" class="control-label"></label>
                <input asp-for="imagePath" class="form-control" />
                <span asp-validation-for="imagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
