@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoronaWedding</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/9a8eb41172.js" crossorigin="anonymous"></script>

</head>
<body>

    <nav class="navbar navbar-light bg-white border-bottom box-shadow mb navbar-expand-sm">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            Corona Wedding
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-8" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbar-list-8">
            <ul class="navbar-nav">

                @if (HttpContextAccessor.HttpContext.Session.GetString("userId") != null)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Comment">Comment</a>
                    </li>
                }


            </ul>
            <div class="right-side d-flex">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/Media/images/loginIconNav.PNG" width="20" height="20" class="rounded-circle">
                        </a>
                        <div id="navLog" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @{ if (HttpContextAccessor.HttpContext.Session.GetString("userId") != null)
                                {

                                    <a class="dropdown-item" asp-controller="Accounts" asp-action="editProfile">Edit Profile</a>
                                    @if (HttpContextAccessor.HttpContext.Session.GetString("Type").Equals("Admin"))
                                    {<a class="dropdown-item" asp-area="" asp-controller="Accounts" asp-action="Dashboard">Dashboard</a>}
                                    @if (HttpContextAccessor.HttpContext.Session.GetString("Type").Equals("Member"))
                                      {<a class="dropdown-item" asp-area="" asp-controller="Accounts" asp-action="Checkout">Checkout</a>}
                                       <a class="dropdown-item" asp-area="" asp-controller="Accounts" asp-action="Logout">Log Out</a> }
                                   else
                                      {<a class="dropdown-item" asp-area="" asp-controller="Accounts" asp-action="Login">Log In</a>
                                       <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Signup">New to this site?</a> } 
                                }
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  

    <img id="logo" src="/Media/images/LOGO.PNG" alt="logo">
    <div id="header" class="container">
        @* ********************   Nav bar*************************** *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  mb-3">

            <div class="container">
                <div class="navlist navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navlist navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Locations" asp-action="Index"> Location</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Caterings" asp-action="index"> Catering</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Music" asp-action="index">Music</a>
                        </li>
                        <li class="nav-item lastItem">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Photographers" asp-action="index">Photographer</a>
                        </li>
                        @if(HttpContextAccessor.HttpContext.Session.GetString("Type") != null)
                        {
                        <li class="nav-item checkoutItem">
                            <a class="nav-link text-dark" asp-controller="Accounts" asp-action="Checkout">Checkout</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>

        </nav>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* ********************   Footer*************************** *@
       
    <footer class="footer footerConteiner">
            <a href="https://www.facebook.com/Corona-Wedding-105162454734818">
                <i class="footer-icons fab fa-facebook-f"></i>
            </a>
            <a href="mailto:isakovdiana1@gmail.com">
                <i class="footer-icons fas fa-envelope-open-text"></i>
            </a>
                <p>© Copyright 2020 Diana Isakov, Igal Rachman, Tal Franco</p>
        </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
