@model CoronaWedding.Models.Photographer

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0 imgDet" src="@Model.imagePath" width="500" height="600" style="vertical-align:bottom">
        </a>
    </div>
    <div class="col-md-5 textDetails">

        <p>Email: @Model.supplierEmail</p>
        <p>Pricr: @Model.price$</p>

        <button class="buttonForSite addToCartButoon" id=@Model.PhotographerId name="Photographer">Add To Cart</button>

    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_Popup");}
    <script src="~/js/dynamicFilter.js"></script>
}
