@{
    ViewData["Title"] = "Comment";
}


<div class="row title">
    <img src="/Media/images/facebookComment.PNG" alt="title" class="rounded mx-auto d-block">
</div>

<p class="text-center" style="font-family: 'Dancing Script', cursive; font-size:30px; color:lightpink;">
    Use this page to comment your experience on our web site.
</p>

<form action="Comment" method="post">
    <textarea class="form-control" name="comment" rows="12" placeholder="write here..."></textarea>
    <hr />
    <button type="submit" class="buttonForSite addToCartButoon">
        Publish
    </button>
    @*<button type="submit" class="btn btn-primary buttonForSite">Publish</button>*@
</form>